@font-face {
    font-family: 'iransansxv';
    src: url('/fonts/IRANSansXV.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
    url('/fonts/IRANSansXV.woff') format('woff');
    /* for the other supporting browsers */
    font-weight: 100 1000;
    font-display: fallback;
}
@font-face {
    font-family: iransansx;
    src: url('/fonts/IRANSansXV-Regular.woff') format('woff');
}
@font-face {
    font-family: iransansx;
    src: url('/fonts/IRANSansXV-Bold.woff') format('woff');
    font-weight: 700;
}

:root {
    font-variation-settings: "wght" 500, "DOTS" 7;
    --base-font-family: iransansx, -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
}

@supports (font-variation-settings: normal) {
    :root {
        --base-font-family: 'iransansxv', -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    }
}

// This fixes the extra start padding for toggle theme item
#main-menu li.menu-bottom-section ol {
    padding-inline: 0;
}

// This resets the float property to make related content scrollable
.related-content {
    & > .flex {
        float: none;
    }
}